<div class="row">
  <div class="col-md-6">
    <h3><i class="fa fa-users"></i> Clients</h3>
  </div>
  <div class="col-md-6">
    <h5 class="pull-right text-muted">Total Owed: {{ totalOwed | currency:"USD":true }}</h5>
  </div>
</div>

<table *ngIf="clients?.length > 0;else noClients" class="table table-sm table-striped">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>E-mail</th>
      <th>Balance</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <td>{{ client.payload.doc.id }}</td>
      <td>{{ client.payload.doc.data().firstName }} {{ client.payload.doc.data().lastName }}</td>
      <td>{{ client.payload.doc.data().email }}</td>
      <td>{{ client.payload.doc.data().balance | currency:"USD":true }}</td>
      <td><a [routerLink]="['/client/'+client.payload.doc.id]" href="" class="btn btn-outline-secondary btn-sm">
        <i class="fa fa-arrow-circle-o-right"></i>
        Details</a></td>
    </tr>
  </tbody>
</table>

<ng-template #noClients>
  <hr>
  <h5>There are no clients in the system</h5>
</ng-template>