<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Client Panel X</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="isLogginIn" class="nav-item">
          <a class="nav-link" href="#" routerLink="/">Home</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li *ngIf="!isLogginIn && showRegister" class="nav-item">
          <a class="nav-link" href="#" routerLink="/register">Register</a>
        </li>
        <li *ngIf="!isLogginIn && showRegister" class="nav-item">
          <a class="nav-link" href="#" routerLink="/login">Login</a>
        </li>
        <li *ngIf="isLogginIn" class="nav-item">
          <a class="nav-link">{{ loggedInUser }}</a>
        </li>
        <li *ngIf="isLogginIn" class="nav-item">
          <a class="nav-link" routerLink="/settings">Settings</a>
        </li>
        <li *ngIf="isLogginIn" class="nav-item">
          <a class="nav-link" (click)="onLogoutClick()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>