<div class="row">
  <div class="col-md-6">
    <a href="#" [routerLink]="['/client/'+id]" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back to details
    </a>
  </div>
  <div class="col-md-6"></div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Edit client</h5>
    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" [(ngModel)]="client.firstName" name="firstName" #clientFirstName="ngModel" minlength="2" required>
        <div *ngIf="clientFirstName.errors?.requited && clientFirstName.touched" class="alert alert-danger">
          First name is required
        </div>
        <div *ngIf="clientFirstName.errors?.minlength && clientFirstName.touched" class="alert alert-danger">
          Must be at least 2 characters
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" [(ngModel)]="client.lastName" name="lastName" #clientLastName="ngModel" minlength="2" required>
        <div *ngIf="clientLastName.errors?.requited && clientLastName.touched" class="alert alert-danger">
          Last name is required
        </div>
        <div *ngIf="clientLastName.errors?.minlength && clientLastName.touched" class="alert alert-danger">
          Must be at least 2 characters
        </div>
      </div>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" [(ngModel)]="client.email" name="email" #clientEmail="ngModel" required>
        <div *ngIf="clientEmail.errors?.requited && clientEmail.touched" class="alert alert-danger">
          E-mail is required
        </div>
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" [(ngModel)]="client.phone" name="phone" #clientPhone="ngModel" minlength="10">
        <div *ngIf="clientPhone.errors?.minlength && clientPhone.touched" class="alert alert-danger">
          Add a valid phone number
        </div>
      </div>

      <div class="form-group">
        <label for="balance">Balance</label>
        <input type="number" class="form-control" [(ngModel)]="client.balance" name="balance" #clientBalance="ngModel" [readonly]="disableBalanceOnEdit">
      </div>

      <input type="submit" class="btn btn-primary btn-block" value="Submit">
    </form>
  </div>
</div>