<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <img src="assets/img/control_GameCube.png" class="mx-auto d-block" style="width: 7rem;" alt="">
      <div class="card-body">
        <h5 class="card-title text-center">Register</h5>
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" name="email" [(ngModel)]="email" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" [(ngModel)]="password" class="form-control" required>
          </div>
          <input type="submit" class="btn btn-primary btn-block" value="Submit">
        </form>
      </div>
    </div>
  </div>
</div>