<div class="row">
  <div class="col-md-6">
    <a href="#" routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back
    </a>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <a [routerLink]="['/edit-client/'+id]" href="#" class="btn btn-outline-secondary">Edit</a>
      <button class="btn btn-danger" (click)="onDeleteClick()">Delete</button>
    </div>
  </div>
</div>
<hr>
<div class="card">
    <div class="card-header">
      {{ objClient.firstName }} {{ objClient.lastName }}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-8">
          <h4>Client ID: {{ id }}</h4>
        </div>
        <div class="col-md-4">
          <h3 class="pull-right">
            Balance: 
            <span [class.text-danger]="hasBalance" [class.text-success]="!hasBalance">
              {{ objClient.balance | currency:"USD":true }}
            </span>
            <small>
              <a (click)="showBalanceUpdateInput = !showBalanceUpdateInput">
                <i class="fa fa-pencil"></i>
              </a>
            </small>
          </h3>
          <div class="clearfix">
            <form *ngIf="showBalanceUpdateInput" (submit)="updateBalance(id)" class="form-inline pull-right mb-3">
              <div class="form-group">
                <input type="text" [(ngModel)]="objClient.balance" name="balance" class="form-control">
              </div>
              <button type="submit" class="btn btn-primary">Update</button>
            </form>
          </div>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          Contact e-mail: {{ objClient.email }}
        </li>
        <li class="list-group-item">
          Contact phone: {{ objClient.phone }}
        </li>
      </ul>
    </div>
  </div>